<html>
<head>
  <title>How Much Will Bernie Save Me?</title>
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta property="og:image" content="http://subyraman.s3.amazonaws.com/bernie/bernie_meta.jpg" />
  <meta property="og:title" content="How Much Will Bernie Save Me?" />
  <meta property="og:type" content="website" />
  <meta property="og:site_name" content="How Much Will Bernie Save Me?" />
  <meta property="og:description" content="Calculates your overall savings with Bernie's policy proposals." />
</head>
  <body>

  <div id="js-main"></div>

  <%- body %>

  <% if (env.production) { %>
    <script async src="<%= env.assets.main.js %>"></script>
  <% } else { %>
    <script src="http://localhost:3000/client/main.js"></script>
  <% } %>
  </body>
</html>
